---
layout: collection
title: Latest News
permalink: /news/
---
{% for item in site.news reversed %}
  {% unless item.hidden %}
  {% if item.image %}
  <div class="row">
    <div class="small-8 columns">
      <h3>{{ item.title }}</h3>
      {{ item.content }}
    </div>
    <div class="small-4 columns">
      <img src="/assets/news/{{ item.image }}", class="news-pic" />
    </div>
  </div>
  {% else %}
  <div class="row item">
    <div class="small-12 columns">
      <h3>{{ item.title }}</h3>
      {{ item.content }}
    </div>
  </div>
  {% endif %}
  <hr />
  {% endunless %}
{% endfor %}
