---
layout: collection
title: Calibre Pedigrees
permalink: /pedigrees/
---
{% for item in site.pedigrees %}
  {% if item.image %}
  <div class="row">
    <div class="small-8 columns">
      <h4>{{ item.title }}</h4>
      {{ item.content }}
    </div>
    <div class="small-4 columns">
      <img src="/assets/pedigrees/{{ item.image }}" />
    </div>
  </div>
  {% else %}
  <div class="row item">
    <div class="small-12 columns">
      <h4>{{ item.title }}</h4>
      {{ item.content }}
    </div>
  </div>
  {% endif %}

  {% if item.pedigree %}
  <a href="/assets/pedigrees/{{ item.pedigree }}">View pedigree (PDF)</a>
  {% endif %}
  <hr />
{% endfor %}
