---
layout: collection
title: Pets
permalink: /pets/
---
{% for item in site.pets %}
  {% if item.image %}
  <div class="row">
    <div class="small-8 columns">
      <h4>{{ item.title }}</h4>
      {{ item.content }}
    </div>
    <div class="small-4 columns">
      <img src="/assets/pets/{{ item.image }}" />
    </div>
  </div>
  {% else %}
  <div class="row item">
    <div class="small-12 columns">
      <h4>{{ item.title }}</h4>
      {{ item.content }}
    </div>
  </div>
  {% endif %}
{% endfor %}
