---
layout: collection
title: Calibre Collie owners are proud of their pets
permalink: /pets/
---
{% for item in site.pets reversed %}
  {% if item.image %}
  <div class="row">
    <div class="small-8 columns">
      {{ item.content }}
    </div>
    <div class="small-4 columns">
      <img src="/assets/pets/{{ item.image }}", class="pet-pic" />
    </div>
  </div>
  {% else %}
  <div class="row item">
    <div class="small-12 columns">
      <h4>{{ item.title }}</h4>
      {{ item.content }}
    </div>
  </div>
  {% endif %}
  <hr>
{% endfor %}
