<form id="contact" action="https://formspree.io/f/mknkzkwq" method="POST">
  <input name='email' type='email' placeholder='Your email'>
  <input name='name' type='text' placeholder='Your name (optional)'>
  <input name='phone' type='text' placeholder='Your phone number (optional)'>
  <input name='address' type='text' placeholder='Your address (optional)' style='display:none' />
  <textarea type='text' name='message' placeholder='Your message'></textarea>
  <button id="contact-button" type='submit' class='button button-blue button-big mobile-block'>Send message</button>
  <input type='hidden' name='_subject' value='CalibreCollies Email' />
  <p id="contact-status"></p>
</form>

<script>
    var form = document.getElementById("contact");

    async function handleSubmit(event) {
      event.preventDefault();
      var status = document.getElementById("contact-status");
      var data = new FormData(event.target);
      fetch(event.target.action, {
        method: form.method,
        body: data,
        headers: {'Accept': 'application/json'}
      }).then(response => {
        status.innerHTML = "Thanks for your submission!";
        form.reset()
      }).catch(error => {
        status.innerHTML = "Oops! There was a problem submitting your form"
      });
    }
    form.addEventListener("submit", handleSubmit)
</script>
