---
# front matter
---

// Custom Variables
@import 'variables';
@import 'settings';

// Foundation 6
@import 'foundation';

// Include All of Foundation 6
@include foundation-everything;

// Font-Awesome
@import 'font-awesome/font-awesome';

// Google fonts
//@import url(https://fonts.googleapis.com/css?family=Muli:400,300,300italic);

h2, h3 {
  border-bottom: 2px solid $header_border;
}

.memory {
  float: right;
  margin-top: -40px;
}

.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: bolder;
}